@charset "UTF-8";


@font-face {
    font-family: 'Dark-Black';
    src:url('Dark-Black.ttf.woff') format('woff'),
        url('Dark-Black.ttf.svg#Dark-Black') format('svg'),
        url('Dark-Black.ttf.eot'),
        url('Dark-Black.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fredericka-the-great';
    src: url('fonts/FrederickatheGreat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
  height:100%;
  margin:0;
  color:#fff;
  font-family: 'fredericka-the-great'; 
  font-style: normal;    
  background:url('images_UG/cuponbeansfaded.jpeg') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

nav {
  position:fixed;
  height:100px;
  width:100%;
  top: 0;
  background-color:rgba(0,0,0,0.5);
  transition: all 0.2s ease-in;
}

/*.othercolor {
  background-color:rgba(255,255,255,0.9);
  color:rgba(0,0,0,1);
  z-index:100;
   transition: all 0.2s ease-in;
}
/**/
header {
  margin: 0 100px;
  text-align: center;
}

ul {
  float:right;
  margin-right:50px;
}

li {
  display:inline-block;
  margin-right:50px;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.2s ease-in;
}

.nlink {
  text-decoration: none;
  text-transform:uppercase;
  color:#000;
  transition: all 0.2s ease-in;
}

.container-medium {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  position: relative;
  z-index: 2;
}

.content {
  width: 1000px;
  margin: 200px  auto;
}
.menu li{
	display: flex;
	flex-flow: wrap;
	justify-content: flex-start;
}

.page_header{
  display: inline;
  font-weight: 400; 
  font: #FFFFFF;
  font-size: 18px;
  padding: 14px 14px;
  float: left;
  margin-left: 100px

}
.ug_menu{
	display: inline;
	font-weight: 300; 
	font-size: 18px;
	padding: 25px 10px;
    letter-spacing: 4px;
	text-align: right;
}
	
.primary_header{
	float: left;
	overflow: hidden;
	margin-top: 200px;
    margin-bottom: 10px;
    margin-left: 150px;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 100%;
	font: #FFFFFF;
}	

.footer {
	background-color: #292929;

}
.title {
	font-weight: 400;
	font-size: 100px;
    margin-top: ;
    margin-bottom: 10px;
	color: #FFFFFF;
	letter-spacing: 3px;
	width:100%;
}
.subtitle {
	font-weight: 500;
	font-style: italic;
	font-size: 45px;
	position: absolute;
    margin-top: 250px;
    margin-left: auto;
    padding-left: 200px;
	top: 90px;
	left: 380px;
	letter-spacing: 3px;
}



